/* ======blog-banner====== */
.blog-banner{
    width: var(--max-size);
    height: 250px;
    background:linear-gradient(rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0.3)), url('images/blog-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    margin-bottom: var(--mb-50);
    object-fit: cover;
}
.blog-banner .blog-banner-title{
    font-size: var(--bigger-font);
    color:var(--body-color);
    letter-spacing: 2px;
}

/* <!-- ====blog-all-content==== --> */
.blog-all-content-box{
    padding-bottom: var(--mb-50);
}
.blog-all-content{
    align-items: flex-start;
}
/* <!-- =====blog-cetagories-item===== --> */
.blog-cetagories-item{
    flex-basis: 17%;
}
.blog-cetagories-list{
    margin-bottom: var(--mb-50);
}
.blog-cetagories-title{
    font-size: var(--other-font);
    color:var(--title-color);
    font-weight: var(--font-midume);
    margin-bottom: var(--mb-20);
}
.blog-cetagories-product{
    font-size: var(--normal-font);
    color:var(--title-color);
    font-weight: var(--font-regular);
    display: block;
    margin-bottom: var(--mb-10);
    line-height: 20px;
    margin-left: 15px;
    position: relative;
    transition: var(--smooth);
}
.blog-cetagories-product::before{
    content: '';
    position: absolute;
    width: 7px;
    height: 7px;
    background-color: var(--hover-color);
    border-radius: 50%;
    left:-15px;
    top:8px;
    transition: var(--smooth);
}
.blog-cetagories-product:hover{
    color:var(--hover-color)
}
.blog-cetagories-product:hover::before{
    height: 14px;
}
.tag-name{
    display: inline-block;
    font-size: var(--small-font);
    color:var(--title-color);
    font-weight: var(--font-regular);
    border: 2px solid var(--border-color);
    padding:3px 15px;
    margin-bottom: 5px;
    border-radius: var(--border-radius-sm);
    transition: var(--smooth);
}
.tag-name:hover{
    background-color: var(--hover-color);
    border: 2px solid var(--hover-color);
    color:var(--body-color);
}

/* <!-- =====blog-content-item===== --> */
.blog-content-item{
    flex-basis: 80%;
}
.blog-content-title{
    font-size: var(--big-font);
    text-transform: uppercase;
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-10);
    text-align: center;
    color:var(--title-color);
}
.blog-content-sub-title{
    font-size: var(--normal-font);
    font-weight: var(--font-regular);
    color:var(--title-color);
    text-align: center;
    margin-bottom: var(--mb-50);
}
.all-blog-item-box{
    flex-wrap: wrap;
    gap:20px;
}
.blog-big-item{
    flex-basis: 65.9%;
    height: 270px;
    border-radius: var(--border-radius-md);
    overflow: hidden;
    position: relative;
}
.blog-img{
    position: absolute;
    width: var(--max-size);
    height: var(--max-size);
    top:0;
    left:0;
}
.blog-img::before{
    content: '';
    position: absolute;
    width: var(--max-size);
    height: var(--max-size);
    background: linear-gradient(to top,#F72018,transparent);
    left:0;
    bottom:-100px;
    transition: var(--smooth);
    z-index: 2;
}
.blog-img img{
    width: var(--max-size);
    height: var(--max-size);
    object-fit: cover;
    position: absolute;
    transition: var(--smooth);
}
.blog-big-item:hover .blog-img img{
    transform: translateY(-20px);
    filter: blur(5px);
}
.blog-big-item:hover .blog-img::before,
.blog-big-item:hover .blog-content
{
    bottom:0;
}
.blog-content{
    position: absolute;
    z-index: 3;
    left: 0;
    bottom: -130px;
    padding:20px;
    color:var(--body-color);
    transition: var(--smooth);
}
.blog-poster-info{
    justify-content: flex-start;
    gap:20px;
    margin-bottom: var(--mb-10);
}
.blog-poster-info i{
    font-size: var(--normal-font);
    font-weight: var(--font-midume);
}
.blog-poster-info span{
    font-size: 15px;
    font-weight: var(--font-midume);
}
.blog-name{
    font-size: var(--midume-font);
    margin-bottom: var(--mb-10);
}
.blog-des{
    font-size: var(--normal-font);
    font-weight: var(--font-midume);
}
.blog-btn{
    font-size: var(--smaller-font);
    color:var(--body-color);
    font-weight: var(--font-midume);
    border: 2px solid var(--body-color);
    padding:4px 10px;
    border-radius: var(--border-radius-sm);
    transition: var(--smooth);
    display: inline-block;
}
.blog-btn:hover{
    color:var(--body-color);
    transform: translateY(-5px);
}
.blog-small-content{
    flex-basis: 32%;
}
.blog-small-content .blog-name,
.blog-midume-item .blog-name
{
    font-size: var(--other-font);
}
.blog-midume-item{
    flex-basis: 32%;
    height: 370px;
}
